<!--
<?php print <<<EOT
-->
<!--Content Begin -->
<div id="Content">
  <div id="Main">
    <div id="Body">
	 <div id="Subtitle">$subtitle</div>
	 <div id="Dg">
	 <li><span class="left">点 歌 者：</span><font style="color:#099;">$user</font></li>
	 <li><span class="left">赠 送 给：</span><font style="color:#F39; font-weight:600;">$user2</font></li>
	 <li><span class="left">所点音乐：</span><font style="color:green;">$songname</font></li>
	 <li><span class="left">点歌时间：</span>$diangetime</li>
	 <li><span class="left">想要说的话：</span><font style="color:#F30;">$say</font></li>
	 <li><span class="left">操 作：</span>【<a href="play.php?id=$songid"><font style="color:blue;
	 ">点击试听</font></a>】</li>
	 </div>
    </div>
    <!--Sidebar Begin -->
	<div id="Sidebar">
	 <!--右侧 Banner 广告 -->
	 <div id="RightBanner"><script language="JavaScript" src="Ad/1207654183.js"></script></div>
	 <!--右侧 Banner 广告 -->
    </div>
	<!--Sidebar End -->
  </div>
</div>
<!--Content End -->

<!--
EOT;
?>-->