<!--
<?php print <<<EOT
-->
<!--Footer Begin  -->
<div id="Footer">
   <div class="CopyRight">
    Powered by <a href="http://www.93me.com/" target="_blank"><font style="color:#C1A41A" title="Powered by Me Music V3.0">  Me Music V3.0</font></a> Copyright &copy; 2014 <a href="$site_url" target="_blank"><font style="color:#F90;">$site_name</font></a> All rights reserved. 
	<br />
	版权声明：本站为非盈利站点，所有音乐链接来自网络，音乐版权归原唱片公司所有！
	</div>
  <div class="FootMenu"><a href="$site_url">音乐首页</a> | <a href="member.php">会员中心</a> | <a href="search.php">搜索音乐</a> | <a href="mailto:$admin_email">联系我们</a> | <a href="help.php">系统帮助</a> 
<!--
EOT;
if (GetCookie('username')=="$manager"){
print <<<EOT
-->	
<!--
EOT;
}
print <<<EOT
-->
</div>
<DIV style="DISPLAY: none">document.write ('<script language="javascript" type="text/javascript" src="http://js.users.51.la/17585271.js"></script>');</DIV>
</div>
<!--Footer end -->
</body>
</html>
<!--
EOT;
?>-->
